<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/vite.svg"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- CDN TailwindCSS-->
    <script src="https://cdn.tailwindcss.com"></script>

    <!--    Tailwind Config-->
    <script>
        tailwind.config = {
            darkMode: 'class',
        };
    </script>
    <!-- CDN FlowbyteCSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <title th:text="${Titulo}"></title>
</head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<aside th:replace="~{layout/layout :: sidebar}"></aside>

<main class="md:ml-64 h-auto pt-20"> <!-- Aca esta la pagina en si -->
    <div class="border-1 border-gray-300 dark:border-gray-600 mb-4">
        <div class="p-2 flex justify-between items-center px-4 rounded-t border-b dark:border-gray-600">
            <!-- Encabezado -->

            <h1 class="text-2xl md:block font-semibold text-gray-900 dark:text-white">Historias Clinicas</h1>
            <button type="button"
                    class="text-white bg-blue-600 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
                    data-modal-toggle="defaultModal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9 5.25h.008v.008H12v-.008z"></path>
                </svg>
            </button>
        </div>


        <hr>
        <h2 class="text-xl pb-2 pl-5 text-gray-900 dark:text-white">
            Todas las historias Clinicas
        </h2>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Tipo de.Doc
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Número de documento
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Paciente
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cant. Sesiones
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Psicologo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Acciones
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="informe: ${informes}"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

                        <td th:text="${informe.informeSesions[0].sesion.paciente.tipoDoc}"
                            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"></td>
                        <td class="px-6 py-4" th:text="${informe.informeSesions[0].sesion.paciente.dni}"></td>
                        <td class="px-6 py-4"
                            th:text="${informe.informeSesions[0].sesion.paciente.nombre} + ' ' + ${informe.informeSesions[0].sesion.paciente.apellido}"></td>
                        <td class="px-6 py-4" th:text="${informe.informeSesions.size()}"></td>
                        <td class="px-6 py-4"
                            th:text="${informe.informeSesions[0].sesion.psicologo.nombre} + ' ' + ${informe.informeSesions[0].sesion.psicologo.apellido}"></td>
                        <td class="px-4 py-2 font-medium flex flex-row text-gray-900 whitespace-nowrap dark:text-white">
                            <a th:href="@{/informe-detalle/} + ${informe.informeSesions[0].sesion.paciente.dni}"
                               class="flex mx-auto items-center justify-center px-2 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-blue-600 border border-transparent rounded-lg active:bg-blue-700 hover:bg-blue-700 focus:outline-none focus:shadow-outline-green">
                                Detalle
                            </a>
                        </td>
                </tr>
                </tbody>
            </table>
            <!--Parte para la paginacion de multiples pacientes-->

        </div>

    </div>
</main>
</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
</html>