<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}"></head>
<body>
<header th:replace="~{layout/layout :: header}"></header>
<aside th:replace="~{layout/layout :: sidebar}"></aside>


<div class="flex items-center justify-center h-screen">
    <div class="block max-w-md p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">


        <h2 class="text-2xl font-extrabold dark:text-white" th:text="${titulo}"></h2>


        <h4 class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
            <a th:href="@{/form-secretario}" class="btn-outline-primary"> Crear Secretario</a>
        </h4>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th class="px6 py-3">Tipo. doc</th>
                    <th class="px6 py-3">N° de dni</th>
                    <th class="px6 py-3">Nombre</th>
                    <th class="px6 py-3">Apellido</th>
                    <th class="px6 py-3">Telefono</th>
                    <th class="px6 py-3">Dirección</th>
                    <th class="px6 py-3">Sexo</th>
                    <th class="px6 py-3">Fecha. Nac</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="secretario : ${secretarios}"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <div th:if="${secretario.eliminado != true}">
                        <td class="px-6 py-4" th:text="${secretario.tipoDoc}"></td>
                        <td class="px-6 py-4" th:text="${secretario.dni}"></td>
                        <td class="px-6 py-4" th:text="${secretario.nombre}"></td>
                        <td class="px-6 py-4" th:text="${secretario.apellido}"></td>
                        <td class="px-6 py-4" th:text="${secretario.telefono}"></td>
                        <td class="px-6 py-4" th:text="${secretario.direccion}"></td>
                        <td class="px-6 py-4" th:text="${secretario.sexo}"></td>
                        <td class="px-6 py-4"
                            th:text="${#temporals.format(secretario.fechaDeNacimiento,'dd-MM-yyyy')}"></td>
                        <td><a class="btn btn-warning" th:href="@{/form-secretario/} + ${secretario.dni}">Editar</a>
                        </td>
                        <td><a class="btn btn-danger" th:href="@{/eliminar-secretario/} + ${secretario.dni}"
                               onclick="return confirm('Esta seguro de eliminar?')">Eliminar</a></td>
                    </div>

                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>


<!--<footer th:replace="~{layout/layout :: footer}"></footer>-->
</body>
</html>